	<h3>Bracket inputs tags are one-way(property is retrieved from the controller when template is rendered, but changes on to the property on the template are not reflected back in the controller).However,the two-way input helper updates all values in the template(goes to the controller and then combes back to the template) </h3>
<input type='text' value={{prop1}}>One way Input<br>
Property 1: {{prop1}} <br>
Property 2: {{prop2}} <br>

{{input type='text' value= prop1}} Two way input helper<br>
	<button {{action 'enter' prop1}}>Value of prop 1</button><br>

Property 3: {{prop3}}

	<h4>Button Action 2 will be available in the route because of the action returning true.
	This action will bubble up to the application route. So I will have 2 actions fired up, one from the controller and the other one from the route.</h4>
	<br><button {{action 'action1'}}>Action 1 in controller</button>
	
	<button {{action 'action2'}}>Action 2 in controller and route</button>
	
	<button {{action 'action3' "Hello World"}}>Action 3 passing values</button>

	<button {{action 'enter2'}}>Action enter2 only in route</button>

{{outlet}}